*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: aqua;
    height: 40px;
    text-align: center;

}
.main_content{
    overflow: hidden;
}
.menu{
    height: 400px;
    width: 25%;
    background-color: bisque;
    text-align: center;
    float: left;

}
.content_area{
    height: 400px;
    width: 75%;
    background-color: chocolate;
    text-align: center;
    float: left;
}
.footer{
    background-color:black;
    height: 40px;
    text-align: center;
    color: wheat;

}